@import './Colors.scss';

/* --------------------------------- MOBILE --------------------------------- */
@media (min-width:320px) {

    .About {
        position: absolute;

        .Portrait {
            height: 35vh;
            width: 100%;
            position: fixed;
            margin: 40px 0 20px 0;
            top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .CanvasWrapper {
                background-color: rgb(96, 96, 96);
                border-radius: 200px;
                height: 35vh;
                width: 35vh;
            }
        }

        .Bio {
            margin: 41vh 20px 20px 20px;
            padding: 20px 20px 200px 20px;

            border-radius: 12px;
            background-color: transparent;
            backdrop-filter: blur(40px);

            .PullBarWrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            .PullBar {
                height: 4px;
                width: 40%;
                margin: 0 0 4px 0;
                padding: 0;
                border-radius: 2px;
            }

            h1 {
                font-size: 11vw;
                font-weight: 600;
                margin-bottom: 0;
                margin-top: 0;
            }

            h3 {
                font-size: 1.5em;
                font-weight: 600;
                margin-top: 40px;
                margin-bottom: 10px;
            }

            h4 {
                font-size: 1.4em;
                font-weight: 600;
                margin-top: 4px;
                margin-bottom: 60px;
            }

            p {
                font-size: 1.2em;
                font-weight: 400;
                margin: 0;
            }

            span.C {
                font-size: 1.6em;
                font-weight: 400;
            }

            span.Book {
                font-style: italic;
            }
        }
    }
}

/* --------------------------------- TABLET --------------------------------- */
@media (min-width:581px) {

    .About {
        .Bio {

            h1 {
                margin-bottom: 0;
            }

            h3 {
                font-size: 1.6em;
            }

            h4 {
                font-size: 1.5em;
                margin-top: 0px;
                margin-bottom: 70px;
            }

            p {
                font-size: 1.25em;
            }

            span.C {
                font-size: 1.6em;
            }
        }
    }
}

/* --------------------------------- WIDE TABLET --------------------------------- */
@media (min-width:781px) {

    .About {
        .Portrait {
            width: 82vw;
        }

        .Bio {

            h1 {
                font-size: 9vw;

            }

            h3 {
                font-size: 1.6em;

            }

            h4 {
                font-size: 1.5em;
                margin-bottom: 60px;

            }

            p {
                font-size: 1.3em;

            }

            span.C {
                font-size: 1.6em;

            }
        }
    }
}

/* --------------------------------- LAPTOP --------------------------------- */
@media (min-width:1001px) {

    .About {
        width: 90vw;

        .Portrait {
            margin: 0;
            right: 0;
            margin: 0 8vw 0 0;
            height: 100vh;
            width: min-content;
            flex-direction: column;
            justify-content: center;

            .CanvasWrapper {
                width: 20vw;
                height: 20vw;
            }
        }

        .Bio {
            backdrop-filter: none;
            width: 54vw;
            margin-top: 80px;
            margin-left: 7vw;


            h1 {
                font-size: 7vw;

            }

            h3 {
                font-size: 1.6em;

            }

            h4 {
                font-size: 1.5em;
                margin-bottom: 60px;

            }

            p {
                font-size: 1.3em;

            }

            span.C {
                font-size: 1.6em;

            }
        }
    }
}

/* --------------------------------- BIG SCREEN --------------------------------- */
@media (min-width:1281px) {}

/* --------------------------------- THEMES --------------------------------- */

.About.Dark {
    background-color: $dark-backgroundColor;

    .PullBar {
        background-color: $dark-backgroundColor1-5;
    }

    h1 {
        color: $dark-text1;
    }

    h3 {
        color: $dark-text3;
    }

    h4,
    span {
        color: $dark-text2;
    }

    p,
    .Book {
        color: $dark-text4;
    }
}

.About.Light {
    background-color: $light-backgroundColor;

    .PullBar {
        background-color: $light-backgroundColor1-5;
    }


    h1 {
        color: $light-text1;
    }

    h3 {
        color: $light-text3;
    }

    h4,
    span {
        color: $light-text2;
    }

    p,
    .Book {
        color: $light-text4;
    }
}