.About {
    box-sizing: border-box;
    padding: 12vh 12vw 0 12vw;
    background-color: transparent;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Container {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 76vh;
}

.AboutBio {
    background-color: transparent;
    z-index: 1;
    width: 60%;
    max-height: 70vh;
    overflow-y: auto;
    direction: rtl;
}

.AboutBio div  {
    direction: ltr;
}

.AboutPortrait {
    background-color: transparent;
    margin-left: -5%;
    width: 45%;
    height: 60vh;
}






