
.About {
    box-sizing: border-box;
}

/* --------------------------------- MOBILE --------------------------------- */
@media (min-width:320px)  {

    .About {

    }

}

/* --------------------------------- TABLET --------------------------------- */
@media (min-width:541px)  {

    * {
        color: green;
    }

}

/* --------------------------------- LAPTOP --------------------------------- */
@media (min-width:1025px) {

    * {
        color: blue;
    }

}

/* --------------------------------- BIG SCREEN --------------------------------- */
@media (min-width:1281px) { 
    
    * {
        color: red;
    }

}

/* --------------------------------- THEMES --------------------------------- */


$dark-backgroundColor: rgb(20, 20, 20);
$dark-text1: rgb(250, 250, 250);
$dark-text2: rgb(217, 217, 217);
$dark-text3: rgb(176, 176, 176);
$dark-text4: rgb(51, 51, 51);
$dark-highlight: rgb(127, 122, 255);

$light-backgroundColor: rgb(230, 230, 230);
$light-text1: rgb(15, 15, 15);
$light-text2: rgb(23, 23, 23);
$light-text3: rgb(31, 31, 31);
$light-text4: rgb(99, 99, 99);
$light-highlight: rgb(51, 34, 148);


.About.Dark {
    background-color: $dark-backgroundColor;    
}

.About.Light {
    background-color: $light-backgroundColor;
}


