$dark-backgroundColor: rgb(20, 20, 20);
$dark-text1: rgb(255, 255, 255);
$dark-text2: rgb(234, 234, 234);
$dark-text3: rgb(220, 220, 220);
$dark-text4: rgb(165, 165, 165);
$dark-text4: rgb(101, 101, 101);

$dark-highlight: rgb(127, 122, 255);

$light-backgroundColor: rgb(230, 230, 230);
$light-text1: rgb(15, 15, 15);
$light-text2: rgb(23, 23, 23);
$light-text3: rgb(31, 31, 31);
$light-text4: rgb(99, 99, 99);
$light-highlight: rgb(51, 34, 148);