$dark-backgroundColor: rgb(23, 23, 23);
$dark-backgroundColor1-5: rgb(20, 20, 20);
$dark-backgroundColor2: rgb(18, 18, 18);
$dark-backgroundColor-2: rgb(30, 30, 30);
$dark-text1: rgb(255, 255, 255);
$dark-text2: rgb(235, 235, 235);
$dark-text3: rgb(200, 200, 200);
$dark-text4: rgb(165, 165, 165);
$dark-text5: #7b7b7b;
$dark-highlight: rgb(127, 122, 255);
$dark-selection: rgb(103, 71, 219);

$light-backgroundColor: rgb(240, 240, 240);
$light-backgroundColor1-5: rgb(230, 230, 230);
$light-backgroundColor2: rgb(220, 220, 220);
$light-backgroundColor-2: rgb(230, 230, 230);
$light-text1: rgb(5, 5, 5);
$light-text2: rgb(23, 23, 23);
$light-text3: rgb(31, 31, 31);
$light-text4: rgb(44, 44, 44);
$light-text5: #717171;
$light-highlight: rgb(51, 34, 148);
$light-selection: #0af554
