.ColorTheme {
    position: fixed;
    margin: 10px;
    padding: 0;
    width: 36px;
    height: 20px;
    z-index: 2;

    border-radius: 10px;
    border: none;

    /* background-color: white; */
    transition: all 0.2s;
}

.ColorTheme > * {
    pointer-events: none;
}

.Knob {
    position: relative;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;

    border-radius: 8px;

    z-index: 3;
    transition: all 0.2s;
}

.IconContainer {
    position: relative;
    top: -15px;
    display: flex;
    width: 36px;
    height: 18px;
    justify-content: space-around;
}

img.Icon {
    position: relative;
    top: +1px;
    width: 13px;
    height: 13px;
    margin: auto;
}

.ColorTheme.Light {
    background-color: hsl(38, 100%, 77%);
}

.ColorTheme.Dark {
    background-color: hsl(240, 50%, 27%);
}

.Knob.Light {
    background-color: white;
    left: 2px;
}

.Knob.Dark {
    background-color: black;
    left: 18px;
}

