@import './Colors.scss';

/* --------------------------------- MOBILE --------------------------------- */
@media (min-width:320px) {

    .ControlsWrapper {
        position: fixed;
        bottom: 0px;

        height: 100px;
        width: 100%;

        padding: 20px;

        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .Controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        max-width: 400px;
    }

    .Questionmark {
        height: 60px;
        width: 60px;

        font-size: 3em;

        .IconWrapper {
            transform: translate(18px, -5px);
        }
    }

   

    .Brushes {
        height: 60px;
        width: 180px;

        display: flex;
        flex-direction: row;

        border-radius: 8px;

        z-index: 0;

        .IconWrapper {
            padding: 6px;
            height: 60px;
            width: 60px;     
            
            
        }

        .Bar {
            width: 54px;
            height: 54px;
            margin: 3px;
            position: absolute;

            z-index: -5;

            transition: transform 0.15s;

            border-radius: 8px;
        }

        .Bar.klee{
            transform: translate(0,0);
        }

        .Bar.mushroom {
            transform: translate(60px, 0);
        }

        .Bar.dandelion {
            transform: translate(120px,0);
        }
    }

    .Clear {
        height: 60px;
        width: 60px;

        .ClearBar{
            height: 3px; 
            margin: 0 14px 0 14px;
        }

        .b1 {
            transform: rotate(45deg);
        }

        .b2 {
            transform: translate(0, -3px) rotate(-45deg);
        }

        .IconWrapper {
            transform: translate(0, 29px);
        }

    }

    img {
        // z-index: 10;
    }

    .HelpText {
        position: fixed;
        bottom: 125px;

        width: 100%;

        z-index: 10;

        p{
            margin: 5px;
            text-align: center;
            font-size: 1.3em;
            font-weight: 400;
        }
    }

}

/* --------------------------------- TABLET --------------------------------- */
@media (min-width:581px) {}

/* --------------------------------- WIDE TABLET --------------------------------- */
@media (min-width:781px) {

    .ControlsWrapper {
        position: fixed;
        right: 0px;

        height: 100%;
        width: 92px;

        flex-direction: column;

    }

    .Controls {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 46px;
        height: 100%;
        max-height: 270px;
    }


    .Questionmark {
        height: 46px;
        width: 46px;

        font-size: 2.2em;
        font-weight: 300;

        .IconWrapper {
            transform: translate(15px, -3px);
        }
    }


    .Brushes {
        height: 138px;
        width: 46px;

        flex-direction: column;

        border-radius: 8px;

        .IconWrapper {
            padding: 5px;
            height: 46px;
            width: 46px;
        }

        .Bar {
            width: 40px;
            height: 40px;
            margin: 3px;

            border-radius: 6px;
        }

        .Bar.klee{
            transform: translate(0,-1px);

        }

        .Bar.mushroom {
            transform: translate(0, 46px);
        }

        .Bar.dandelion {
            transform: translate(0,92px);
        }
    }

    .Clear {
        height: 46px;
        width: 46px;

        .ClearBar{
            height: 2px; 
            margin: 0 11px 0 11px;
        }

        .b1 {
            transform: rotate(45deg);
        }

        .b2 {
            transform: translate(0, -2px) rotate(-45deg);
        }

        .IconWrapper {
            transform: translate(0, 22px);
        }
    }

    .HelpText {
        width: 85vw;
        bottom: 46px;
    }


}

/* --------------------------------- LAPTOP --------------------------------- */
@media (min-width:1001px) {

    .HelpText {
        width: 90vw;
    }
}

/* --------------------------------- BIG SCREEN --------------------------------- */
@media (min-width:1281px) {}

/* --------------------------------- THEMES --------------------------------- */

.Controls.Dark {
    .Brushes {
        background-color: $dark-backgroundColor1-5;
    }
    .Questionmark {
        color: $dark-text5;
    }
    .Questionmark:active{
        color: $dark-text2;
    }

    .ClearBar {
        background-color: $dark-text5;
    }

    .Clear:active {
        .ClearBar{
            background-color: $dark-text2;
        }
    }

    .Bar {
        background-color: $dark-text1;
    }
}

.HelpText.Dark {
    color: $dark-text5;
}

.Controls.Light {
    .Brushes {
        background-color: $light-backgroundColor1-5;
    }
    .Questionmark {
        color: $light-text5;
    }
    .Questionmark:active{
        color: $light-text2;
    }

    .ClearBar {
        background-color: $light-text5;
    }

    .Clear:active {
        .ClearBar{
            background-color: $light-text2;
        }
    }

    .Bar {
        background-color: $light-text1;
    }
}

.HelpText.Light {
    color: $light-text5;
}

