@import './Colors.scss';

/* --------------------------------- MOBILE --------------------------------- */
@media (min-width:320px) {

    .Controls {
        position: fixed;
        bottom: 0px;

        height: 100px;
        width: 100%;

        padding: 20px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        z-index: 10;
    }

    .Questionmark {
        height: 60px;
        width: 60px;

        font-size: 3em;

        .IconWrapper {
            transform: translate(18px, -5px);
        }
    }

   

    .Brushes {
        height: 60px;
        width: 180px;

        display: flex;
        flex-direction: row;

        .IconWrapper {
            padding: 6px;
            height: 60px;
            width: 60px;
        }

        .Bar {
            width: 60px;
            height: 60px;
            position: absolute;

            z-index: -5;

            transition: all 0.15s;
        }

        .Bar.klee{
            transform: translate(0,0);

        }

        .Bar.mushroom {
            transform: translate(60px, 0);
        }

        .Bar.dandelion {
            transform: translate(120px,0);
        }
    }

    .Clear {
        height: 60px;
        width: 60px;

        .ClearBar{
            height: 3px; 
            margin: 0 14px 0 14px;
        }

        .b1 {
            transform: rotate(45deg);
        }

        .b2 {
            transform: translate(0, -3px) rotate(-45deg);
        }

        .IconWrapper {
            transform: translate(0, 29px);
        }
    }

    .HelpText {
        position: fixed;
        bottom: 13vh;

        width: 100%;

        z-index: 10;

        p{
            margin: 5px;
            text-align: center;
            font-size: 1.3em;
            font-weight: 400;
        }
    }

}

/* --------------------------------- TABLET --------------------------------- */
@media (min-width:581px) {}

/* --------------------------------- WIDE TABLET --------------------------------- */
@media (min-width:781px) {}

/* --------------------------------- LAPTOP --------------------------------- */
@media (min-width:1001px) {}

/* --------------------------------- BIG SCREEN --------------------------------- */
@media (min-width:1281px) {}

/* --------------------------------- THEMES --------------------------------- */

.Controls.Dark {
    .Questionmark {
        color: $dark-text7;
    }
    .Questionmark:active{
        color: $dark-text2;
    }

    .ClearBar {
        background-color: $dark-text7;
    }

    .Clear:active {
        .ClearBar{
            background-color: $dark-text2;
        }
    }

    .Bar {
        background-color: $dark-text1;
    }
}

.HelpText.Dark {
    color: $dark-text5;
}

.Controls.Light {
    .Questionmark {
        color: $light-text7;
    }
    .Questionmark:active{
        color: $light-text2;
    }

    .ClearBar {
        background-color: $light-text7;
    }

    .Clear:active {
        .ClearBar{
            background-color: $light-text2;
        }
    }

    .Bar {
        background-color: $light-text1;
    }
}

.HelpText.Light {
    color: $light-text5;
}

