@import './Colors.scss';

/* --------------------------------- MOBILE --------------------------------- */
@media (min-width:320px) {

    .Home {
        position: absolute;
        width: 100%;
        padding: 0 0 0 0;


        .CanvasWrapper {
            height: 100vh;
        }

    }

    .MichaelHochreiter {
        position: fixed;
        top: 20vh;
        left: 40vw;

        max-width: 300px;

        pointer-events: none;

        z-index: 10;

        margin: 0 0 0 -25vw;

        .Name {
            font-size: 4em;
            line-height: 50px;
            margin: 0;
            font-weight: 300;
        }

        .Title {
            padding: 2px 0 0 3px;
            font-size: 1.7em;
            margin: 0;
            font-weight: 400;
        }
    }

    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
    }

}

/* --------------------------------- TABLET --------------------------------- */
@media (min-width:581px) {}

/* --------------------------------- WIDE TABLET --------------------------------- */
@media (min-width:781px) {

    .Home {
        position: relative;
        width: 85vw;
    }

    .MichaelHochreiter {
        position: fixed;
        top: 17vh;
        left: 50vw;
    }

}

/* --------------------------------- LAPTOP --------------------------------- */
@media (min-width:1001px) {

    .Home {
        width: 90vw;
    }

}


/* --------------------------------- BIG SCREEN --------------------------------- */
@media (min-width:1281px) {

    .Home {}
}

/* --------------------------------- THEMES --------------------------------- */

.Home.Dark {
    background-color: $dark-backgroundColor;

    .MichaelHochreiter {
        color: $dark-text1;

    }
}

.Home.Light {
    background-color: $light-backgroundColor;

    .MichaelHochreiter {
        color: $light-text1;

    }
}