.Navbar{
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    margin: 0px auto;
    pointer-events: none;

    display: flex;
    justify-content: center;
}

.NavbarList{
    margin: 0 auto 0 auto;
    padding: 0;
    width: 140px;
    border-radius: 0 0 15px 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    /* backdrop-filter: blur(4px); */
}

.NavbarItem{
    margin: 0px 0px 10px 0px;
    padding-top: 8px;
    width: 55px;
    height: 30px;
    list-style: none;
    text-align: center;

    font-size: 1rem;
    color: black;

    transition: all 0.2s;

    pointer-events: all;
}

.NavbarItem.kleeblatt{
    width: 40px;
}

a{
    padding-top: 10px;
    padding-bottom: 10px;
}

.NavbarItem:hover{
    color: black;
    text-decoration: none;
    transform: translate(0px, 4px);
}

:link{
    color: black;
    text-decoration: none;
}

:visited{
    color: black;
    text-decoration: none;
}

.NavbarItem a:active{    
    color: rgb(136, 128, 255);
    text-decoration: none;
    filter: invert(52%) sepia(25%) saturate(7407%) hue-rotate(220deg) brightness(111%) contrast(101%);     /* to change the kleeblatt colo */
}

img{
    width: 20px;
    height: 20px;
    transform: translate(0px, -1px);
}

