/* --------------------------------- MOBILE --------------------------------- */
@media (min-width:320px) {

    .Project {
        height: min-content;
        margin: 10px 10px 100px 10px; 

        img {
            width: 100%;
            border-radius: 8px;
        }
        
        .Details {
            
            .Detail_0, .Detail_1 {
                padding: 10px;
            }

        }
    }
}

/* --------------------------------- TABLET --------------------------------- */
@media (min-width:581px) {}

/* --------------------------------- LAPTOP --------------------------------- */
@media (min-width:1025px) {}

/* --------------------------------- BIG SCREEN --------------------------------- */
@media (min-width:1281px) {}

/* --------------------------------- THEMES --------------------------------- */

.Project.Dark {}

.Project.Light {}