@import './Colors.scss';

/* --------------------------------- MOBILE --------------------------------- */
@media (min-width:320px) {

    .ThemeSwitch {
        padding: 0;
        border: 0;
        z-index: 10;

        position: absolute;
        bottom: 0;
        right: 0;
        margin: 40px;
        width: 100px;

        .Wrapper {
            display: flex;
            justify-content: space-between;
        }


        .Bar {
            height: 2px;
            width: 46px;
            margin-left: 1px;
        }
    }

    .Text {
        font-size: 1.7em;
        font-family: 'Degular';
        font-weight: 600;
        margin: 0;
    }


    .Dark {
        .Bar {
            transform: translate(55px, 0px);
            width: 45px;
            transition: all 0.2s;
        }
    }

    .Light {
        .Bar {
            transform: translate(0px, 0px);
            transition: all 0.2s;
        }
    }
}

/* --------------------------------- TABLET --------------------------------- */
@media (min-width:581px) {}

/* --------------------------------- WIDE TABLET --------------------------------- */
@media (min-width:781px) {
    
    .ThemeSwitch {
        left: 0;
        bottom: 0;
        margin: 3vw 3vw 2.5vw 3vw;
        width: 68px;
        
        font-size: 1.4em;

        .Bar {
            height: 2px;
            width: 30px;
            margin-left: 1px;
        }
    }

   
    .Dark {
        .Bar {
            transform: translate(38px, 0px);
            width: 30px;
            transition: all 0.2s;
        }
    }

    .Light {
        .Bar {
            transform: translate(0px, 0px);
            transition: all 0.2s;
        }
    }
}

/* --------------------------------- LAPTOP --------------------------------- */
@media (min-width:1001px) {

    .ThemeSwitch {
        margin: 2vw 2vw 1.66vw 2vw;
        width: 68px;
        
        font-size: 1.4em;

        .Bar {
            height: 2px;
            width: 30px;
            margin-left: 1px;
        }
    }

   
    .Dark {
        .Bar {
            transform: translate(38px, 0px);
            width: 30px;
            transition: all 0.2s;
        }
    }

    .Light {
        .Bar {
            transform: translate(0px, 0px);
            transition: all 0.2s;
        }
    }
}

/* --------------------------------- BIG SCREEN --------------------------------- */
@media (min-width:1281px) {}

/* --------------------------------- THEMES --------------------------------- */

.ThemeSwitch.Dark {
    background-color: transparent;

    .Bar {
        background-color: $dark-text1;
    }

    .Text {
        color: $dark-text1;
    }
}

.ThemeSwitch.Light {
    background-color: transparent;

    .Bar {
        background-color: $light-text1;
    }

    .Text {
        color: $light-text1;
    }
}
