/* --------------------------------- MOBILE --------------------------------- */
@media (min-width:320px) {

    .Work {
        position: absolute;
        width: 100%;
        padding: 0 0 0 0;
    }
}

/* --------------------------------- TABLET --------------------------------- */
@media (min-width:581px) {}

/* --------------------------------- LAPTOP --------------------------------- */
@media (min-width:1025px) {}

/* --------------------------------- BIG SCREEN --------------------------------- */
@media (min-width:1281px) {}

/* --------------------------------- THEMES --------------------------------- */

.Work.Dark {


}

.Work.Light {}