.Work{
    background-color: white;
    width: 90vw;
    max-width: 1920px;

    margin: 40px auto 10vh auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}